/* hero section styles */

.hero-section{
    background-image: url(../img/tanjiro.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    padding: 1px 20px;
    background-color: #330c0c;
    color: #cbcbcb;
    width: 200px;
    border-radius: 2px;
}

.hero-section > .bottom-heading{
    background-color: #ce3535;
    color: #11122b;
    padding: 1px 20px;
    margin-top: 15px;
    width: 107px;
    border-radius: 2px;
}

.hero-section > .bottom-heading h3{
    color: #11122b;
}

/* Feature section styles */
.features-section{
    height: 400px;
    background-size: 260px;
    background-color: #3c0301;
    border: 10px solid #190a0a;
    color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -30px 79px -10px #190a0a
}

.features-section > .columns-wrapper{
    width: 1000px;
    display: flex;
    justify-content: space-around;
}

.features-section > .columns-wrapper > .column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}
.features-section > .columns-wrapper > .column:hover {
    border-bottom: 5px solid #ce3535;
}

.features-section > .columns-wrapper > .fa-arrow-down:hover{
    border-bottom: 5px solid #ce3535;
}

.features-section > .columns-wrapper > .column :nth-child(1){
    font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2){
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}
.features-section > .columns-wrapper > .column :nth-child(2):hover{
    letter-spacing: 1px;
}

.features-section > .columns-wrapper > .column :nth-child(3){       
    transition: 1s;
}
.features-section > .columns-wrapper > .column :nth-child(3):hover{
    letter-spacing: 2px;
}

.features-section > .columns-wrapper > .column {
    width: 400px;
    height: 200px;
    text-align: center;
}