
/* commin nav styles */
.navigation-wrapper{
    height: 190px;
    background-color: #351616;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 60px 100px 60px 100px; /*relogio */
    padding: 60px 100px ; /*top-bottom  right-left */
}

/* left collumn styles */
.navigation-wrapper > .left-collumn{
    display: flex;
    align-items: center;
}

.navigation-wrapper > .left-collumn > .icon{
    margin-right: 15px;
}

.navigation-wrapper > .left-collumn > .icon i{
    font-size: 2em;
}

.navigation-wrapper > .left-collumn > .contact-hours{
    display: grid;
    grid-template-columns: 1fr;
}

links-wrapper > .nav-link{
    font-family: 'Ubuntu Condensed', sans-serif;
}
.navigation-wrapper > .left-collumn > .contact-hours > .phone{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
}
.navigation-wrapper > .left-collumn > .contact-hours > .hours{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #858585;
    font-size: 0.8em;
}


/* center collumn styles */
.navigation-wrapper > .center-collumn{
    display: grid;
    grid-template-collumns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-wrapper .center-collumn > .links-wrapper >.nav-link{
    color: #cbcbcb;

}
.navigation-wrapper > .center-collumn > .banner-image {
    display: flex;
    justify-content: center;
}
.navigation-wrapper > .center-collumn > .banner-image img{
    width: 216px;
    height: 100%;
}

.links-wrapper{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
.links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}
.links-wrapper > .nav-link a{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}
.links-wrapper > .nav-link a:hover{
    color: #ce3535;
    letter-spacing: 2px;
}
/* right collumn styles */
.navigation-wrapper > .right-collumn > .address-wrapper{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
}
.navigation-wrapper > .right-collumn > .contact-icon{
    margin-left: 15px;
    font-size: 2em;
}
.navigation-wrapper > .right-collumn {
    display: flex;
    align-items: center;
}
.navigation-wrapper > .right-collumn > .address-wrapper a{
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}
.navigation-wrapper > .right-collumn > .address-wrapper a:hover{
    color:#ce3535;
}

.navigation-wrapper > .right-collumn > .contact-icon a{
    color: #858585;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}
.navigation-wrapper > .right-collumn > .contact-icon a:hover{
    color: #ce3535;
}